@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  padding: 0 7.5vw;
}

.navbar {
  border-bottom: 2px solid #cac7c7;
}

.home {
  /* width: max-;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-bottom: 20px;
}

.main__chat_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  width: 100%;
}
#chat_container {
  width: 100%;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  max-width: 80%;
  min-width: 80%;
  width: 60vw;
  height: 40px;
  font-size: large;
}
.input:focus {
  border: none;
}
#inputBtn {
  height: 40px;
  width: 100px;
}

.user {
  padding: 10px;
  background: blue;
  /* max-width: 250px; */
  margin: 5px 0 5px auto;
  border-radius: 5px;
  color: white;
}
.ai {
  padding: 10px;
  background: red;
  /* max-width: 250px; */
  margin: 5px 0;
  /* margin: 5px 0 5px auto; */
  border-radius: 5px;
  color: white;
}

@media only screen and (max-width: 470px) {
  .user,
  .ai {
    max-width: 250px;
  }

  .navbar h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .user,
  .ai {
    max-width: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  .user,
  .ai {
    max-width: 630px;
  }
}
@media only screen and (min-width: 1001px) {
  .user,
  .ai {
    max-width: 700px;
  }
}
